<header class="p-2 bg-light text-muted">
  <div class="container__header">
    <div class="header d-flex justify-content-between">

      <div class="header__logo d-flex justify-content-center align-items-center me-3">
        <a href="/" class=" text-decoration-none">
          <img src="../../../../assets/img/logo.png" alt="Logo">
        </a>
      </div>



      <div class="header__main d-flex justify-content-between w-100">
        <div class="header__item d-flex d-flex">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a routerLink="" class="nav-link px-2 text-dark ">Главная</a></li>
            <li><a routerLink="products" class="nav-link px-2 text-muted">Каталог</a></li>
          </ul>
        </div>
        <div class="header__search d-flex">
          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Поиск чая"
                   aria-label="Search">
          </form>
          <div class="text-end">
            <button type="button" class="btn btn-outline-primary me-2 px-4">Найти</button>
          </div>
        </div>
      </div>

      <div class="header__collapse w-100" style="display: none">
        <p class="d-flex btn-col">
          <a data-bs-toggle="collapse" href="#multiCollapseExample2" role="button" aria-expanded="false"
             aria-controls="collapseExample">
            <i class=" bars fa-solid fa-bars fa-2xl"></i>
          </a>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse collapse__menu multi-collapse " id="multiCollapseExample2">
              <div class="card card-body">
                <ul class=" collapse__list col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                  <li><a routerLink="" class="nav-link px-2 text-dark ">Главная</a></li>
                  <li><a routerLink="products" class="nav-link px-2 text-muted">Каталог</a></li>
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                  <input type="search" class="form-control form-control-dark" placeholder="Поиск чая"
                         aria-label="Search">
                </form>
                <div class="text-end">
                  <button type="button" class="btn btn-outline-primary px-4">Найти</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
