<section class="accordion mb-5 animate__animated animate__fadeInRightBig wow">
  <div class="container">
    <div class="row">
      <h2 class="accordion__title fw-bold text-center mb-5">Ответы на часто задаваемые вопросы</h2>
      <div ngbAccordion class="accordion__element" style="max-width: 840px">

        <div ngbAccordionItem class="accordion__item" [collapsed]="false">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="item">Собираете ли вы подарочные боксы?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="body">
              <ng-template >Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус,
                объем и
                стоимость!
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem class="accordion__item">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="item">Сколько у вас разновидностей чая?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="body">
              <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis
                obcaecati odit recusandae?
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem class="accordion__item">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="item">В какой срок осуществляется доставка?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="body">
              <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis
                obcaecati odit recusandae?
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem class="accordion__item">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="item">У вас обновляется ассортимент?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody class="body">
              <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis
                obcaecati odit recusandae?
              </ng-template>
            </div>
          </div>
        </div>
        <div ngbAccordionItem class="accordion__item">
          <h2 ngbAccordionHeader>
            <button ngbAccordionButton class="item">Какого объема у вас пачки чая?</button>
          </h2>
          <div ngbAccordionCollapse>
            <div ngbAccordionBody>
              <ng-template class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis
                obcaecati odit recusandae?
              </ng-template>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</section>


<!--<div ngbAccordionItem>-->
<!--  <h2 ngbAccordionHeader>-->
<!--    <button ngbAccordionButton>В какой срок осуществляется доставка?</button>-->
<!--  </h2>-->
<!--  <div ngbAccordionCollapse>-->
<!--    <div ngbAccordionBody>-->
<!--      <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis-->
<!--        obcaecati odit recusandae?-->
<!--      </ng-template>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div ngbAccordionItem>-->
<!--  <h2 ngbAccordionHeader>-->
<!--    <button ngbAccordionButton>У вас обновляется ассортимент?</button>-->
<!--  </h2>-->
<!--  <div ngbAccordionCollapse>-->
<!--    <div ngbAccordionBody>-->
<!--      <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis-->
<!--        obcaecati odit recusandae?-->
<!--      </ng-template>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div ngbAccordionItem>-->
<!--  <h2 ngbAccordionHeader>-->
<!--    <button ngbAccordionButton>Какого объема у вас пачки чая?</button>-->
<!--  </h2>-->
<!--  <div ngbAccordionCollapse>-->
<!--    <div ngbAccordionBody>-->
<!--      <ng-template>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis-->
<!--        obcaecati odit recusandae?-->
<!--      </ng-template>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
