<section class="accordion mb-5 animate__animated animate__fadeInRightBig wow">
  <div class="container">
    <div class="row">
      <h2 class="accordion__title fw-bold text-center mb-5">Ответы на часто задаваемые вопросы</h2>
      <div class="col-lg-8 mx-auto" id="accordion">
        <div class="accordion__blue mb-3"><h3 class="accordion__blue-title">Собираете ли вы подарочные
          боксы?</h3>
          <img class="accordion__blue-img" src="assets/img/accordDown.png" alt="arrow">
        </div>
        <div>
          <p class="accord__text ">
            Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
          </p>
        </div>
        <div class="accordion__blue mb-3"><h3 class="accordion__blue-title">Сколько у вас разновидностей
          чая?</h3>
          <img class="accordion__blue-img" src="assets/img/accordDown.png" alt="arrow">
        </div>
        <div>
          <p class="accord__text ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis obcaecati
            odit recusandae?
          </p>
        </div>
        <div class="accordion__blue mb-3"><h3 class="accordion__blue-title">В какой срок осуществляется
          доставка?</h3>
          <img class="accordion__blue-img" src="assets/img/accordDown.png" alt="arrow">
        </div>
        <div>
          <p class="accord__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis obcaecati
            odit recusandae?
          </p>
        </div>
        <div class="accordion__blue mb-3"><h3 class="accordion__blue-title">У вас обновляется ассортимент?</h3>
          <img class="accordion__blue-img" src="assets/img/accordDown.png" alt="arrow">
        </div>
        <div>
          <p class="accord__text ">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis obcaecati
            odit recusandae?
          </p>
        </div>
        <div class="accordion__blue "><h3 class="accordion__blue-title">Какого объема у вас пачки чая?</h3>
          <img class="accordion__blue-img" src="assets/img/accordDown.png" alt="arrow">
        </div>
        <div>
          <p class="accord__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eveniet iste nobis obcaecati
            odit recusandae?
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
