<div class="modal" id="popup" style="display: none; background: rgba(0, 0, 0, 0.5); " tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Посмотрите наши чайные коллекции</h5>
        <button id="close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <img src="../../../../assets/img/carousel3.png" alt="">
      <div class="modal-footer">
        <button type="button" routerLink="products" class="btn btn-primary w-75">Смотреть</button>
      </div>
    </div>
  </div>
</div>
