<section class="carousel animate__animated animate__fadeInRightBig wow mt-5 pt-3" id="main">
  <div class="container-xl p-0">
    <div class="single-item mb-5">
      <div class="carousel carousel__one ">
        <img src="../../../assets/img/carousel1.png" alt="">
        <div class="position-absolute top-50 text-start translate-middle-y offset-1 offset-md-2">
          <h2 class="text-dark h2 mb-3 mb-lg-5 fs-1">Скидки на травяные чаи</h2>
          <p class="text-dark mb-5 fs-5">Узнай все подробности, заполнив заявку</p>
          <button type="submit" class="btn hvr-grow btn-lg btn-primary px-5">
            Отправить
          </button>
        </div>
      </div>
    </div>
    <app-questions></app-questions>
    <app-popup></app-popup>
  </div>
</section>
